# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__ *.pyc *.pyo *.orig

# Include the README
include *.md

# Include the license file
include LICENSE

# Include the Requirements
include requirements.txt

# Include package
recursive-include bpdl *.py

# Include setup
include setup.*

# Exclude build configs
exclude *.yml *.yaml *.toml
# Exclude testing
exclude pytest.*

# Include the experiments
recursive-include experiments *.py

# Include the figures
recursive-include figures *.png

# Include the sample data
recursive-include data_images *.yml *.yaml

recursive-include assets *.png

prune .git
prune venv
prune build
prune docs
prune data_images
prune notebooks
prune output
prune results
