numpy>=1.8.2
scipy>=0.10.0
pandas>=0.17.1
six>=1.7.3
pillow>=2.1.0
matplotlib==2.1.1
scikit-learn>=0.18.1
scikit-image>=0.12.1
tqdm>=4.7.4
ipython==4.2.0
gco-wrapper>=3.0.2c
nibabel>=2.1.0
nilearn>=0.3.1
dipy>=0.11.0
SimpleITK>=1.0.1